*
!software
!verilog
!verilog/src/
!verilog/sim/
!firmware
!firmware/avr
!firmware/avr/z_1_rtc_lcd
!firmware/avr/z_1_rtc_spi
!firmware/avr/z_1_rtc_uart
!firmware/esp32

!*.lpf
!*.ldf
!*.v
!*.py
!*.c
!*.h

!Makefile
!.gitignore
!README.md
