BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "pb8b" SITE "32" ;
LOCATE COMP "pb8a" SITE "31" ;
LOCATE COMP "pb5a" SITE "27" ;
LOCATE COMP "pb25b" SITE "49" ;
LOCATE COMP "pl2a" SITE "1" ;
LOCATE COMP "pl2b" SITE "2" ;
IOBUF PORT "pb5a" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pb8a" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pb25b" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pl2b" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pb8b" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pl2a" IO_TYPE=LVCMOS33 ;
